<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }
        body {
            background-size: cover;
        }
		
    </style>
</head>

<body style=background-image:url({{background_image}});>
    <h1 style="text-align:center;font-size:4rem ;color:black">Download Status</h1>
    <br>
    <h1 style="text-align:center; color: {{color}};">{{output}}</h1>
</body>

</html>