<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
<style>
    body  {
    background-image:url({{background_image}});
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
</head>
<body>
	  <h1 style="text-align:center;font-size:4rem; color:aliceblue;">Welcome in YouTube Video Downloader</h1>
    <section>
        <div>     
            <form action="/download" method="post">
                <input type="text" name="url" placeholder="Paste Your link here">
                <br>
                <select name="Choose resolution"  id="resolution" >
                <option value="Choose resolution">Choose resolution</option>
                {% for i in lst %}
                <option value={{i}}>{{i}}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Download">
            </form>
        </div>
    </section>
</body>
</html>
